h1{
	color: yellow;
	font-family: "freestyle script";
}

body{
	
	background-color: blue;
}

favicon{
	
	icon: <link rel="shortcut icon" type="image/png" href="http://dreamatico.com/data_images/apple/apple-7.jpg"/>
	
}